<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="PhanQuyen.Properties.Settings.DocSoTHConnectionString"
        connectionString="Data Source=103.74.117.51;Initial Catalog=DocSoTH;Persist Security Info=True;User ID=docsotanhoa;Password=Docso111"
        providerName="System.Data.SqlClient" />
    <add name="PhanQuyen.Properties.Settings.DocSoTHConnectionString1_THANLE"
        connectionString="Data Source=thanle;Initial Catalog=DocSoTH;Persist Security Info=True;User ID=sa;Password=123456"
        providerName="System.Data.SqlClient" />

  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>